sudo: false
language: go

go:
  - 1.8.x
  - 1.9.x
  - tip

matrix:
  allow_failures:
    - go: tip

install:
  - go get github.com/onsi/ginkgo
  - go get github.com/onsi/gomega
  - go get github.com/pkg/errors
