on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [1.15, 1.16, 1.17]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v2.5.2

    - name: Test
      run: go test
      env:
        GOPATH: /home/runner/go
